RewriteEngine On
RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [NC,L]
RewriteRule ^.*$ index.php [NC,L]

### THIS IS NEED FOR HOSTING IN GODADDY OR SHARED HOSTING
# Follow symbolic links in this directory.

RewriteEngine on
RewriteBase /forkes
